<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4BVsxNRh6RlS-UdICCo8UBR8k2Clybtc</string>
	<key>GCM_SENDER_ID</key>
	<string>56958658169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medistore</string>
	<key>PROJECT_ID</key>
	<string>medistore-5d38d</string>
	<key>STORAGE_BUCKET</key>
	<string>medistore-5d38d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56958658169:ios:f84dc6f97f7141983c56a8</string>
</dict>
</plist>